# yaml-language-server:$schema=https://json.schemastore.org/github-workflow.json
# https://docs.github.com/en/actions/writing-workflows
name: Verify

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      editorconfig:
        description: Run EditorConfig linter
        default: true
        type: boolean
      gitleaks:
        description: Run Gitleaks (Secret scanner)
        default: true
        type: boolean
      lychee:
        description: Run lychee (Broken link finder)
        default: true
        type: boolean
      markdownlint:
        description: Run Markdown linter
        default: true
        type: boolean
      renovate:
        description: Run renovate-config-validator
        default: true
        type: boolean
      shellcheck:
        description: Run shellcheck (shell script linter)
        default: true
        type: boolean
      taplo:
        description: Run taplo (TOML linter)
        default: true
        type: boolean
      yamllint:
        description: Run yamllint (YAML linter)
        default: true
        type: boolean

# https://docs.github.com/en/actions/security-for-github-actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
permissions:
  contents: read

# Cancel duplicate runs for this workflow if they happen for the same commit
# Thus should help with duplicate runs caused by PRs, e.g. because of Renovate
concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  editorconfig:
    runs-on: ubuntu-latest
    if: ${{ inputs.editorconfig || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Extract Tool Versions
        id: tool-versions
        run: |
          ec_version=$(grep -F 'editorconfig-checker' .mise.toml | cut -d '=' -f2 | cut -d '#' -f1 | xargs)
          ec_shasum=$(grep -F 'editorconfig-checker' .mise.toml | cut -d '=' -f3 | xargs)
          echo "ec_version=${ec_version}" >> "$GITHUB_OUTPUT"
          echo "ec_shasum=${ec_shasum}" >> "$GITHUB_OUTPUT"
      - name: Run EditorConfig Checker
        env:
          EDITORCONFIG_CHECKER_VERSION: ${{ steps.tool-versions.outputs.ec_version }}
          EDITORCONFIG_CHECKER_SHASUM: ${{ steps.tool-versions.outputs.ec_shasum }}
        run: |
          curl --fail --silent --show-error --location --output editorconfig.tar.gz \
            https://github.com/editorconfig-checker/editorconfig-checker/releases/download/v${EDITORCONFIG_CHECKER_VERSION}/ec-linux-amd64.tar.gz
          echo "${EDITORCONFIG_CHECKER_SHASUM} editorconfig.tar.gz" | sha256sum --check
          tar -xzf editorconfig.tar.gz bin/ec-linux-amd64
          ./bin/ec-linux-amd64 -f github-actions
  gitleaks:
    runs-on: ubuntu-latest
    if: ${{ inputs.gitleaks || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Extract Tool Versions
        id: tool-versions
        run: |
          gitleaks_version=$(grep -F 'gitleaks' .mise.toml | cut -d '=' -f2 | cut -d '#' -f1 | xargs)
          gitleaks_shasum=$(grep -F 'gitleaks' .mise.toml | cut -d '=' -f3 | xargs)
          echo "gitleaks_version=${gitleaks_version}" >> "$GITHUB_OUTPUT"
          echo "gitleaks_shasum=${gitleaks_shasum}" >> "$GITHUB_OUTPUT"
      - name: Install Gitleaks
        env:
          GITLEAKS_VERSION: ${{ steps.tool-versions.outputs.gitleaks_version }}
          GITLEAKS_SHASUM: ${{ steps.tool-versions.outputs.gitleaks_shasum }}
        run: |
          curl --fail --silent --show-error --location --output gitleaks.tar.gz \
            https://github.com/gitleaks/gitleaks/releases/download/v${GITLEAKS_VERSION}/gitleaks_${GITLEAKS_VERSION}_linux_x64.tar.gz
          echo "${GITLEAKS_SHASUM} gitleaks.tar.gz" | sha256sum --check
          tar -xzf gitleaks.tar.gz gitleaks
          ./gitleaks dir --verbose --redact .
  lychee:
    runs-on: ubuntu-latest
    if: ${{ inputs.lychee || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Extract Tool Versions
        id: tool-versions
        run: |
          lychee_version=$(grep -F 'lychee' .mise.toml | cut -d '=' -f2 | cut -d '#' -f1 | xargs)
          echo "lychee_version=${lychee_version}" >> "$GITHUB_OUTPUT"
      - name: Restore lychee cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          fail: false
          failIfEmpty: false
          format: markdown
          jobSummary: true
          lycheeVersion: v${{ steps.tool-versions.outputs.lychee_version }}
          args: "--base . --cache --max-cache-age 21d ."
  markdownlint:
    runs-on: ubuntu-latest
    if: ${{ inputs.markdownlint || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v20.0.0
  renovate:
    runs-on: ubuntu-latest
    if: ${{ inputs.renovate || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Extract Tool Versions
        id: tool-versions
        run: |
          node_version=$(grep -F 'node' .mise.toml | cut -d '=' -f2 | xargs)
          echo "node_version=${node_version}" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ steps.tool-versions.outputs.node_version }}
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Renovate
        run: |
          pnpm install --frozen-lockfile
      - name: Run Renovate Config Validator
        run: |
          pnpm exec --yes --package renovate -- renovate-config-validator --strict default.json5
  shellcheck:
    runs-on: ubuntu-latest
    if: ${{ inputs.shellcheck || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Extract Tool Versions
        id: tool-versions
        run: |
          shellcheck_version=$(grep -F 'shellcheck' .mise.toml | cut -d '=' -f2 | cut -d '#' -f1 | xargs)
          echo "shellcheck_version=${shellcheck_version}" >> "$GITHUB_OUTPUT"
      - uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
        with:
          version: v${{ steps.tool-versions.outputs.shellcheck_version }}
  taplo:
    runs-on: ubuntu-latest
    if: ${{ inputs.taplo || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Extract Tool Versions
        id: tool-versions
        run: |
          taplo_version=$(grep -F 'taplo' .mise.toml | grep -v 'asdf' | cut -d '=' -f2 | cut -d '#' -f1 | xargs)
          taplo_shasum=$(grep -F 'taplo' .mise.toml | cut -d '=' -f3 | xargs)
          echo "taplo_version=${taplo_version}" >> "$GITHUB_OUTPUT"
          echo "taplo_shasum=${taplo_shasum}" >> "$GITHUB_OUTPUT"
      - name: Run Taplo
        env:
          TAPLO_VERSION: ${{ steps.tool-versions.outputs.taplo_version }}
          TAPLO_SHASUM: ${{ steps.tool-versions.outputs.taplo_shasum }}
        run: |
          curl --fail --silent --show-error --location --output taplo.gz \
            https://github.com/tamasfe/taplo/releases/download/${TAPLO_VERSION}/taplo-linux-x86_64.gz
          echo "${TAPLO_SHASUM} taplo.gz" | sha256sum --check
          gunzip --decompress taplo.gz
          chmod +x ./taplo
          ./taplo format --check --diff
          ./taplo check --default-schema-catalogs
  yamllint:
    runs-on: ubuntu-latest
    if: ${{ inputs.yamllint || true }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run yamllint
        run: |
          pip install yamllint
          yamllint .
